html,
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#top-nav {
    width: 950px;
    height: 50px;
    margin: 0 auto;
    font-weight: bold;
}

#logo {
    margin-top: 10px;
    float: left;
    margin-right: 20px;
}

#top-nav-links {
    list-style-type: none;
    padding: 12px;
    margin: 0;
    float: left;
}

.fa-bell {
    margin-left: 12px;
}
#top-nav-links li {
    display: inline;
    border-left: 1px solid #CCCCCC;
    padding: 12px;
}

.top-nav-section {
    float: left;
    border-left: 1px solid #CCCCCC;
    padding: 12px 14px;
}

input {
    background: #A9A9A9;
    border: none;
    color: #000000;
    padding: 5px;
    font-weight: bold;
}

.fa-search {
    background: #A9A9A9;
    padding: 3px 3px 6px 3px;
}

.clear {
    clear: both;
}

#header-bar {
    background: #BB1919;
    width: 100%;
    height: 70px;
}

#header-container {
    width: 950px;
    margin: 0 auto;
}

#header-text {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 2.8rem;
    display: block;
    float: left;
    margin: 0;
    margin-top: 10px;
}

#header-link {
    color: #FFFFFF;
    float: right;
    background: #BB1919;
    border: 1px solid #BB4545;
    padding: 5px;
    font-size: 1.2rem;
    margin-top: 18px;
}

#main-nav-bar {
    background: rgb(92, 6, 6);
    width: 100%;
    height: 40px;
    margin: 0 auto;
    padding: 0;
}

#main-nav-container {
    width: 950px;
    margin: 0 auto;
}

#main-nav-links {
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

#main-nav-links li {
    display: inline;
    list-style-type: none;
    color: #FFFFFF;
    padding: 7px;
    border-right: 1px solid #BB1919;
}

#main-container {
    width: 950px;
    margin: 0 auto;
}

#main-content {
    width: 70%;
    float: left;
}

#main-content h3 {
    border-bottom: 2px solid #BB1919;
    display: block;
    float: left;
}
#right-widget {
    width: 29%;
    float: right;
}

#article-text {
    width: 40%;
    float: left;
    color: gray;
}

#article-text span {
    color: #BB1919;
}

#article-image {
    width: 59%;
    float: right;
}

#article-image img {
    width: 100%;
}

.article-link {
    color: #000000;
}

.article-timestamp {
    font-size: .9rem;
    text-align: center;
}

h2 {
    font-size: 1.9rem;
}

#right-widget li {
    list-style-type: none;
}

.watch-img {
    width: 39%;
    float: left;
}
.watch-text {
    width: 57%;
    float: right;
}

.watch-text span {
    color: gray;
    font-size: .9rem;
}
